doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title= titleText
		link(href='../style.css' rel='stylesheet' type='text/css')
		// Global site tag (gtag.js) - Google Analytics
		script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-12KPSHCW03')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'G-12KPSHCW03');
	body
		header
			h1 The Root Vegetagble
			h3 Your #1 reliable news source for all things West Seattle High School. 
		.navbar
			a(href='../') Home
			a(href='https://www.instagram.com/therootvegetable.wshs/') Instagram
			a(href='/compatibility.html') Compatabality
			a.active(href='../') Articles
		.article
			h1= titleText
			img.artImg(src= "../imgs/" + mainImg)
			p= bodyText
